div.active{
  background: red;
}

.yellow{
  background: yellow;
}

table{
  text-align: center;
}

.outside{
  background:lightgreen;
}

.inside{
  background:pink;
}

body{
  background:black;
  font-size:15px;
  color:white;
  font-family:fantasy;
}
form{
  text-align:center;
  padding-top:50px;
}

div{
  text-align:center;
}